
  ::-ms-reveal {
    display:none !important;
  }
  .hideShowPassword-toggle {
    background-image: url(images/wink.svg);
    background-position: 0 center;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 100%;
    overflow: hidden;
    text-indent: -9999em;
    width: 44px;
  }
  .hideShowPassword-toggle-hide {
    background-position: -44px center;
  }

  /* Simple text toggle style */
  .my-toggle-class {
    color: #888;
    cursor: pointer;
    font-size: 0.75em;
    font-weight: bold;
    padding: 0.5em 1em;
    text-transform: uppercase;
  }
  .hideShowPassword-toggle,
  .my-toggle-class {
    z-index: 3;
  }
