@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:100,400,300,600,700);
html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt,
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
:focus { outline: 0;}
a:link, a:visited, a:active{text-decoration:none; color: #21b3b4}
table {	border-collapse: separate;border-spacing: 0; width: 100%;}
th, td {text-align: left; font-weight: normal;}
tr{line-height: 30px;}
img, iframe {border: none; text-decoration:none;}
ol, ul {list-style: none;}
input, textarea, select, button {font-size: 100%;font-family: inherit;}
object{display: block;}
img {
    vertical-align: middle;
}
fieldset, figure {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
strong{
    font-weight:bold;
}
em{
    font-style:italic;	
}
p{
    color:#333;	
}
*,
*:after,
*::before{box-sizing:border-box; -ms-box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}

body{
	font-family: arial;
}
.hide{
    display: none;
}
.in-block{
    display: inline-block;
}

.text-center{
    text-align: center;
}
.notes{
  padding: 30px;
  margin: 30px 0 0 0;
  border: 1px solid #ddd;
  background: rgba(0,0,0,0.04);
}
.wrap{
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 20px;
}
.container{
	float:right;
	margin-right:30px;	
}
.panel {
    min-height: 100px;
    background: #fff;
    margin: 50px auto;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.panel.attached-bottom{
    margin-bottom: 0;
    border-radius: 4px 4px 0 0;
}
main p{
    font-family: 'Lato';
    color: #80878c;
    line-height: 1.5em;
    font-size: 16px;
    font-weight: 300;
}
.panel p{
    padding: 10px 20px;
    font-size: 14px;
}
main h2{
    font-size: 2em;
    text-align: center;
    color: #aaa;
    font-family: 'Lato';
    font-weight: lighter;
}
main hr{
    border: 0;
    border-bottom: 1px solid #dbdcdb;
    margin: 10px 0;
    height: 1px;
}
main h3{
    padding: 10px 20px;
    background: #EDEDED;
    display: inline-block;
    margin: 10px 0 0 0;
    border-radius: 0 4px 4px 0;
    color: #777;
    font-family: 'Lato';
    font-size: 0.9em;
}


.modal{
    display: none;
    margin: 0 auto;
    background: url("../img/modal.png") no-repeat 50% 50%;
    background-size: contain;
    position: absolute;
    bottom: -120px;
    left: 0;
    right: 0;
    height: 300px;
    opacity: 0.3;
    transition: all 0.4s cubic-bezier(0.35, 0, 0.25, 1);
}
.modal:hover{
  transform: translateY(-50px);
  opacity: 0.7;
}
#modal-custom .iziModal-content header{
    background: #eee;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 3px 3px 0 0;
}
#modal-custom .iziModal-content header a{
    display: block;
    float: left;
    width: 50%;
    padding: 30px 25px 25px;
    text-align: center;
    background: #ddd;
    color: #999;
}
#modal-custom .iziModal-content header a.active{
    background: #fff;
    color: #777;
}
#modal-custom .iziModal-content section{
    padding: 30px;
}
#modal-custom .iziModal-content section input:not([type="checkbox"]), #modal-custom .iziModal-content section button{
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ddd;
    margin-bottom: 26px;
    padding: 15px;
    font-size: 14px;
}
#modal-custom .iziModal-content section input:focus{
    border-color:#28CA97;
}
#modal-custom .iziModal-content section label[for="check"]{
    margin-bottom: 26px;
    font-size: 14px;
    color: #999;
    display: block;
}
#modal-custom .iziModal-content section footer{
    overflow: hidden;
}
#modal-custom .iziModal-content section button{
    background: #28CA97;
    color: white;
    margin: 0;
    border: 0;
    cursor: pointer;
    width: 50%;
    float: left;
}
#modal-custom .iziModal-content section button:hover{
    opacity: 0.8;
}
#modal-custom .iziModal-content section button:nth-child(1){
    border-radius: 3px 0 0 3px;
    background: #aaa;
}
#modal-custom .iziModal-content section button:nth-child(2){
    border-radius: 0 3px 3px 0;
}

#modal-custom .iziModal-content .icon-close{
    background: #FFF;
    margin-bottom: 10px;
    position: absolute;
    right: -8px;
    top: -8px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 0;
    color: #a9a9a9;
    cursor: pointer;
}
#modal-custom .iziModal-content .icon-close:hover, #modal-custom .iziModal-content .icon-close:focus{
  color: black;
}
.iziModal .iziModal-header-title{
  font-family: 'Lato', arial;
  font-weight: 500;
}
.cd-img-replace{
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}
.cd-nav-trigger{
  display: none;
}
@media only screen and (min-width: 768px) {

@-webkit-keyframes wobble {
  from {
    -webkit-transform: none;
    transform: none;
  }

  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes wobble {
  from {
    -webkit-transform: none;
    transform: none;
  }

  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

.wobble {
  -webkit-animation-name: wobble;
  animation-name: wobble;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}




@-webkit-keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}